.location-icon{
 width: 20px;
 padding-right: 5px;
}

.volunteeringOpps {
    width: auto;
}

.pongalOrganizer {
    padding: 2px 16px;
}

/*Opportunity 1*/
.opp1, .opp2, .opp3, .opp4, .opp5 {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
  
  /* On mouse-over, add a deeper shadow */
.opp1:hover, .opp2:hover, .opp3:hover, .opp4:hover, .opp5:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

.opp1, .opp2, .opp3, .opp4, .opp5 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
}
  
  /* Add rounded corners to the top left and the top right corner of the image */
img {
    border-radius: 5px 5px 0 0;
}